.flexbox {
  margin: 20px 0;
}

.flexbox-box {
  border: 1px solid var(--blue);
  background: var(--cyan);
  padding: 20px;
}

.flexbox-1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-2 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flexbox-3 {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-box-3 {
  width: 320px;
}
