.selector {
  margin: 20px;
}

.selector-highlight {
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.selector-article .selector-highlight {
  color: var(--red);
}
