/* ====================================
// css variables
// ==================================== */

:root {
  --blackblue: #1d2d44;
  --greyblue: #748cab;
  --black: #000;
  --blue: #0d47a1;
  --cyan: #42a5f5;
  --red: #f44336;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  color: var(--blackblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}

h3 {
  color: var(--greyblue);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* ====================================
// base rules
// ==================================== */
